# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
.env

*.log
local_settings.py
db.sqlite3
media/

# Migrations (keep __init__.py)
**/migrations/
!**/migrations/__init__.py

# === Static files ===
staticfiles/

# === OS / Editor ===
.DS_Store
Thumbs.db
.vscode/
.idea/

.coverage
htmlcov/



# === Build / Cache ===
dist/
build/
