.pageContainer {
    display: flex;
    height: 98vh;
    width: 98.7vw;
    font-family: 'Inter', sans-serif;
}

.imageSide {
    flex: 1;
}

.loginImage {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.formSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f5f5f5;
    padding: 20px 60px;
}

.brand {
    text-align: center;
    margin-bottom: 2rem;
    width:100%;
}

.brand h1 {
    color: darkorange;
    font-family: McLaren;
    font-size: 52px;
    margin: 0;
}
.formContainer {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
     align-items: center;
}
.formContainer h3{
    font-size: 25px;
    margin-top: 0.5rem;
}
.brand p {
    color: darkorange;
    font-family: 'Poppins', sans-serif;
    font-size: 25px; 
    margin: 5px 4px -5px 0;
}

.inputGroup {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputGroup label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #37332f;
    margin-bottom: 8px;
    font-weight: 600;
}

.inputField {
    width: 100%;
    box-sizing: border-box; 
    height: 45px;
    padding: 12px 25px;
    background-color: #fff2e3;
    border: 1px solid #da7d19;
    border-radius: 4px;
    font-size: 18px; 
}


.loginButton {
    width: 100%; 
    box-sizing: border-box; 
    height: 60px;
    background-color: #da7d19;
    color: #FFFAF5;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    margin-top: 1.5rem;
}
.loginButton:hover {
    background-color: #b56614;
}

.forgotPassword {
 margin-top: 1.2rem;
    color: darkorange;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
   
}
.signupText{
    margin-top: 1.2rem;
     margin-left: 7rem;
    color: rgb(5, 5, 5);
    font-size: 18px;
   font-weight: bold;
}
.signupText a{
     color: darkorange;
    font-size: 18px;
    font-weight: bold;
}
/* ============================= */
@media (max-width: 768px) {
    .pageContainer {
        flex-direction: column;
        height: auto;
        width: 100vw; 
    }

    .formSide {
        width: 100%;
        padding: 40px 20px; 
        box-sizing: border-box;
        align-items: center; 
    }

    .formContainer {
        width: 100%; 
        max-width: 100%;
        align-items: center;
    }

    .brand h1 {
        font-size: 42px;
    }
    
    .signupText {
        margin-left: 0; 
        text-align: center;
    }
    .imageSide{
        display: none;;
    }
}



    