.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #FFFAF5 0%, #FFF2E3 50%, #DA7D19 100%);
  padding: 80px 20px;
  font-family: 'Arial', Helvetica, sans-serif;
}

.title {
  font-size: 42px;
  font-weight: 600;
  color: #DA7D19; 
  margin-bottom: 10px;
  letter-spacing: 1.5px;
  /* font-family: 'Poppins', sans-serif; */
}

.description {
  font-size: 20px;
  font-style: italic;
  color: #DA7D19;
  margin-bottom: 25px;
}

.body {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.8;
  color: #5a4632; 
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  
  background: linear-gradient(180deg, #DA7D19 0%, #B55E15 100%);
  color: white;
  border: none;
  padding: 14px 50px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: linear-gradient(180deg, #DA7D19 0%, #B55E15 100%);
  transform: translateY(-2px);
}
