
.wrapper {
  width: 100%;
  height: 100vh;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    #fff2e3 0%,
    #f4c89a 55%,
    #da7d19 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 60px;
  text-align: center;
}


.title {
  font-size: 64px;
  font-weight: 400;
  color: #da7d19;
  letter-spacing: 4px;
  margin-bottom: 16px;
   font-family: 'McLaren', cursive;
}


.subtitle {
  font-size: 22px;
  font-style: italic;
  color: #c56f15;
  margin-bottom: 28px;
}


.description {
  max-width: 800px;
  font-size: 17px;
  color: #3f3f3f;
  line-height: 1.8;
  margin-bottom: 40px;
}


.buttonGroup {
  display: flex;
  gap: 40px;
}

.primaryBtn,
.secondaryBtn {
  background-color: #da7d19;
  color: white;
  border: none;
  padding: 16px 42px;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.primaryBtn:hover,
.secondaryBtn:hover {
  background-color: #b86412;
  transform: translateY(-3px);
}
