
.card {
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: hsl(32, 100%, 96%);
}

.avatar {
  width: 5.5rem;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  font-size: 1.1rem;
  font-weight: 400;
  color: #d4851c;
  margin: 0;
  font-family: "McLaren", sans-serif; 

}

.subjects {
  font-size: 1rem;
  color: #262626;
  font-weight: 700;
  margin: 0;
  font-family: "Poppins", sans-serif;
  
}

.subjectsLabel {
  font-weight: 700;
  color: hsl(31, 79%, 48%);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.learnMore {
  font-size: 1rem;
  font-weight: 700;
  color: #d4851c;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin-top: 2px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.learnMore:hover {
  text-decoration: underline;
}
